@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');

* {
    font-family: 'Didact Gothic', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #CBE4DE;
}

header {
    color: white;
    background-color: #2C3333;
    width: 100%;
}

header p {
    margin: 0px;
    margin-left: 6px;
}

nav {
    width: 100%;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

aside {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5%;  
    background-image: linear-gradient(#1a2e2e, #2E4F4F);
}
#asideIndex{
    color: white;
    width: 100%;
    background-image: linear-gradient(#1a2e2e, #2E4F4F);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5%;
}
section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    color: white;
    background-color: #2C3333;
    width: 100%;
}

footer p {
    margin: 0px;
    margin-left: 6px;
}



#asideProj {
    margin-bottom: 0px;
}

#cardIndexUm,
#cardIndexDois,
#cardIndexTres {
    margin-bottom: 5%;
    box-shadow: -6px 6px 4px;
    transition-duration: 1s;
}


aside h2 {
    padding: 0px;
    margin: 8%;
    margin-top: 3%;
}

main h1 {
    padding: 2%;
}

#carouselExample {
    width: 100%;
    margin-bottom: 0%;
}

#cardIndexContato {
    border: none;
    margin: 5%;
}

.cards img {
    width: 286px;
    height: 250px;
    object-fit: cover;
}

.textMain {
    margin: 5%;
}

.navProjetos {
    margin: 5%;
}

.navBaixo {
    margin: 5%;
    margin-bottom: 0%;
}

#imgProjetoUm,
#imgProjetoDois,
#imgProjetoTres {
    width: 100%;
    height: 280px;
    object-fit: cover;
}

.instagram img {
    width: 30%;
}

.facebook img {
    width: 30%;
}

.whatsapp img {
    width: 26%;
}

.instagram,
.facebook,
.whatsapp {
    margin: 5%;
}

.cardsDeContato {
    margin-top: 0%;
    margin: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.instagram button {
    border: none;
    border-radius: 10px;
    padding: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: #0B5ED7;
    color: white;
    transition-duration: 1s;
}

.instagram button:hover {
    transform: scale(1.1);
    box-shadow: 1px 10px 50px rgb(145, 145, 145);
}

.facebook button {
    border: none;
    border-radius: 10px;
    padding: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: #0B5ED7;
    color: white;
    transition-duration: 1s;
}
.facebook button:hover {
    transform: scale(1.1);
    box-shadow: 1px 10px 50px rgb(145, 145, 145);
}

.whatsapp button {
    border: none;
    border-radius: 10px;
    padding: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: #0B5ED7;
    color: white;
    transition-duration: 1s;
}
.whatsapp button:hover {
    transform: scale(1.1);
    box-shadow: 1px 10px 50px rgb(145, 145, 145);
}

.facebook img {
    width: 30%;
}

.whatsapp img {
    width: 26%;
    margin-bottom: 3%;
}

#h1Contato {
    padding-bottom: 0%;
    margin: 2%;
    margin-bottom: 0%;
}

.carroIndex {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(pexels-karolina-grabowska-7285914.jpg);
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section img {
    width: 40%;
    margin: 10%;
    margin-bottom: 0px;
    border-radius: 5%;
    box-shadow: -5px 5px 20px rgb(192, 192, 192);
}

#logo {
    width: 35%;
    margin: 5%;
}
::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-thumb{
    background-color: #8f8f8f;
}



@media (min-width:960px) {

    .textMain {
        margin: 2%;
    }

    #carouselExample {
        width: 60%;
    }

    .cards {
        width: 90%;
        height: 40%;
        display: flex;
        flex-direction: row;
    }

    .cards img {
        width: 100%;
        object-fit: cover;
    }

    #cardIndexUm,
    #cardIndexDois,
    #cardIndexTres {
        margin-left: 3%;
        margin-bottom: 0px;
        box-shadow: -6px 6px 4px;
    }

    #cardIndexUm {
        margin-left: 0px;
    }

    aside h2 {
        margin: 5%;
        margin-top: 0px;
    }

    aside {
        padding: 5%;
    }

    .cardsProj {
        width: 50%;
    }

    .cardsDeContato {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .instagram img {
        width: 50%;
    }

    .facebook img {
        width: 50%;
    }

    .whatsapp img {
        width: 46%;
    }

    section {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    section img {
        width: 30%;
        margin: 5%;
        margin-right: 0px;
        border-radius: 5%;
        object-fit: cover;
    }

    #cardIndexContato {
        width: 10%;
    }

    #logo {
        width: 45%;
    }

    #cardIndexUm:hover {
        transform: translateY(-20px);
    }

    #cardIndexDois:hover {
        transform: translateY(-20px);
    }

    #cardIndexTres:hover {
        transform: translateY(-20px);
    }

    .cardsProj {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #cardAside{
        width: 50%;
    }
    #cardAside img{
        height: 400px;
    }
}